.message
{
    margin: 15px;
    width: fit-content;
    border: 1px solid white;
    border-radius: 300px;

}
.message__user
{
    margin-left: auto;
    color: white;
    text-align: left !important;
}
.message__userCard
{
    background-color: #0b81ff !important;
    color: white;
}
.message__guestCard
{
    background-color: #e9e9eb !important;
    color: white;
}